.products-content {
  margin: 40px auto;
  width: 918px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  row-gap: 40px;
}

.product {
  display: grid;
  grid-template-rows: max-content 1fr;
}


.product-header{
  font-size: 22px;
  color: var(--text-color-main);
  font-weight: lighter;
  margin-bottom: 15px;
}

.product-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* Todo: Cover height  */
}

.product-container {
  /* Todo: Check if var color identity can be better */
  border-left: 1px solid var(--text-color-second);
  border-right: 1px solid var(--text-color-second);
}

.product-price {
  font-size: 20px;
  color: var(--text-color-main);
  padding: 10px 15px;
}

.product-button{
  font-size: 16px;
  width: 100%;
  background-color: var(--bg-button);
  color: var(--bg-product-add);
  border: none;
  padding: 5px 31px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}