body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mb-header {
  position: relative;
  width: 100%;
  background-color: #000;
  z-index: 33;
}

.mb-content {
  width: 1024px;
  margin: 0 auto;
}

.mb-footer {
  font-size: 12px;
  color: #999;
  width: 918px;
  margin: 0 auto;
}

.mb-header__top {
  max-width: 1024px;
  width: 86%;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 16px 0; */
  position: relative;
  display: flex;
  justify-items: stretch;
  align-items: center;
  /* Todo: Verify if needed to crossbrowser */
  display: -ms-flexbox;
  display: -webkit-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.mb-header__logo-and-wordmark {
  left: 0;
  display: inline-flex;
  align-items: flex-end;
  position: absolute;
  transform: none;
  -ms-flex-align: end;
  -webkit-box-align: end;
  /* text-size-adjust: 100%; */
}

.mb-header__logo-wrapper {
  display: flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
}

.mb-header__star {
  width: 64px;
  height: 64px;
}

.mb-header__wordmark-wrapper {
  margin-left: 64px;
}

.mb-header__wordmark {
  width: 111px;
  height: 13px;
}

.mb-header__top-menu-tools {
  right: 0;
  top: 60px;
  display: inline-flex;
  align-items: center;
  position: absolute;
}

.mb-header__price {
  margin-left: 12px;
  display: flex;
  color: #fff;
}

.mb-header__item-container {
  margin-left: 12px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
}

.mb-header__item-cart {
  width: 18px;
  height: 18px;
  display: flex;
}

.product-search__container {
  width: 918px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.product-search__title {
  font-size: 24px;
  color: #333;
  font-weight: lighter;
}

.product-search__input-search {
  font-size: 14px;
  color: #333;
  border: 1px solid #999;
  /* Todo: Check if var color identity can be better */
  width: 220px;
  height: 35px;
  padding: 0 20px;
}

.products-content {
  margin: 40px auto;
  width: 918px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  row-gap: 40px;
}

.product {
  display: grid;
  grid-template-rows: max-content 1fr;
  border: 1px solid transparent;
}

.product:hover {
  background-color: #f3f3f3;
}

.product-header {
  font-size: 22px;
  color: #333;
  font-weight: lighter;
  margin-bottom: 15px;
}

.product-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* Todo: Cover height  */
}

.product-container {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.product-price {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 15px;
}

.product-button {
  font-size: 16px;
  width: 100%;
  background-color: #3c3c3c;
  color: #fff;
  border: none;
  padding: 5px 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.product-button-remove {
  font-size: 16px;
  width: 100%;
  background-color: #3c3c3c;
  color: #999;
  border: none;
  padding: 5px 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 1024px) {
  body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mb-smaller-width p {
    display: contents;
    color: gold;
    z-index: 1;
  }
  .mb-header {
    display: none;
  }
  .mb-content {
    display: none;
  }
  .mb-footer {
    display: none;
  }
}
