body,
html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-content: #fff;
  --bg-header: #000;
  --bg-product-add: #fff; 
  --bg-product-remove: #2a2a2a; 
  --bg-button: #3c3c3c;
  --text-color-main: #333;
  --text-color-second: #999;
  --text-color-contrast: #fff;
}

.mb-header {
  position: relative;
  width: 100%;
  background-color: var(--bg-header);
  z-index: 33;
}

.mb-header__top {
  max-width: 1024px;
  width: 86%;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 0;
  position: relative;
  display: flex;
  justify-items: stretch;
  align-items: center;

  /* Todo: Verify if needed to crossbrowser */
  display: -ms-flexbox;
  display: -webkit-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.mb-header__logo-and-wordmark {
  left: 0;
  display: inline-flex;
  align-items: flex-end;
  position: absolute;
  transform: none;
  
  -ms-flex-align: end;
  -webkit-box-align: end;
  /* text-size-adjust: 100%; */
}

.mb-header__logo-wrapper {
  display: flex;
  justify-content: center;
  
  -ms-flex-pack: center;
  -webkit-box-pack: center;
}

.mb-header__star {
  width: 64px;
  height: 64px;
}

.mb-header__wordmark-wrapper {
  margin-left: 64px;
}

.mb-header__wordmark {
  width: 111px;
  height: 13px;
}

.mb-header__top-menu-tools {
  right: 0;
  top: 60px;
  display: inline-flex;
  align-items: center;
  position: absolute;
}

.mb-header__price {
  margin-left:12px;
  display: flex;
  color: var(--text-color-contrast);
}

.mb-header__item-container {
  margin-left:12px;
  display: flex;
  
  display: -ms-flexbox;
  display: -webkit-box;
}

.mb-header__item-cart {
  width: 18px;
  height: 18px;
  display: flex;
}

.mb-content {
  width: 1024px;
  margin: 0 auto;
}

.product-search__container {
  width: 918px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.product-search__title {
  font-size: 24px;
  color: var(--text-color-main);
  font-weight: lighter;
}

.product-search__input-search {
  font-size: 14px;
  color: var(--text-color-main);
  border: 1px solid var(--text-color-second); 
  /* Todo: Check if var color identity can be better */
  width: 220px;
  height: 35px;
  padding: 10px 20px;
}

.products-content {
  margin: 40px auto;
  width: 918px;
  /* max-width: 1680px; */
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.product {
  display: grid;
  grid-template-rows: max-content 1fr;
}


.product-header{
  font-size: 22px;
  color: var(--text-color-main);
  font-weight: lighter;
  margin-bottom: 15px;
}

.product-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
   /* Todo: Cover height  */
}

.product-container {
  /* Todo: Check if var color identity can be better */
  border-left: 1px solid var(--text-color-second);
  border-right: 1px solid var(--text-color-second);
}

.product-price {
  font-size: 20px;
  color: var(--text-color-main);
  padding: 10px 15px;
}

.product-button{
  font-size: 16px;
  width: 100%;
  background-color: var(--bg-button);
  color: var(--bg-product-add);
  border: none;
  padding: 5px 31px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.mb-footer {
  font-size: 12px;
  color: var(--text-color-second);
  width: 918px;
  margin: 0 auto;
}