body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-content: #fff;
  --bg-header: #000;
  --bg-product-add: #fff;
  --bg-product-remove: #2a2a2a;
  --bg-button: #3c3c3c;
  --text-color-main: #333;
  --text-color-second: #999;
  --text-color-contrast: #fff;
}

.mb-header {
  position: relative;
  width: 100%;
  background-color: var(--bg-header);
  z-index: 33;
}

.mb-content {
  width: 1024px;
  margin: 0 auto;
}

.mb-footer {
  font-size: 12px;
  color: var(--text-color-second);
  width: 918px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mb-smaller-width {
    display: contents;
    color: gold;
  }
  .mb-header {
    display: none;
  }
  .mb-content {
    display: none;
  }
  .mb-footer {
    display: none;
  }
}
